:root {
    --first-color: #fff;

    --second-color: #363636;

    --third-color: #1c4bab;

    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pagination-link:focus {
    border-color: var(--third-color);
}

.pagination-link.is-current {
    background-color: var(--third-color);
    border-color: var(--third-color);
    color: var(--first-color);
}

.box {
    background-color: var(--first-color);
    filter: brightness(98%);
}